@model KnockoutMVC.Models.MTB_Articles

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<!--@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MTB_Articles</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Excerpts, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Excerpts, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Excerpts, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}*@ 

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

    -->
<div class="span12">
 
        <legend>Create Articles</legend>
        <div class="control-group">
            <label class="control-label">Title: </label>
            <div class="controls">
                <input type="text" data-bind="value: Title" placeholder="Article Title" class="input-medium">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Excerpts: </label>
            <div class="controls">
                <textarea data-bind="value: Excerpts" placeholder="Article Excerpts" rows="3"></textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Content: </label>
            <div class="controls">
                <textarea data-bind="value: Content" placeholder="Article Content" rows="6" class="input-xxlarge"></textarea>
            </div>
        </div>
        <div class="control-group">
            <input type="button" value="Save" data-bind="click: btnCreateArticle" class="btn btn-primary" />
            <a href="@Url.Action("", "MTB_Articles")" class="btn btn-primary">Cancel</a>
        </div>
 
</div>


@section Scripts {
 @*@Scripts.Render("~/bundles/jqueryval")*@  
<script src="~/Scripts/app/CreateVM.js"></script>
}
